header{
    background-color: pink; /* ajustes do cabeçalho */
    color: white;
    
}
section{
    text-align: center;
}
.card-tarefa{                  /* ajustes da minha caixa de tarefa */
 display: flex;
 justify-content: space-between;
 border: 1px solid;
 border-radius: 20px;
 padding: 30px 20px;
 box-shadow: 3px 3px 3px 2px;

 
}

footer{                      /* ajustes do rodapé */
    position: fixed;
    width: 100vw;
    display: flex;
    padding: 20px;
    justify-content:center;
    background-color: pink;
    bottom:0px
}

#tarefa-digitada{     /* ajustes de botão */
    width: 45%;
    margin-right: 20px;
}